@model PostFeed.Domain.Post
<div class="col-lg-offset-3 col-lg-6">
    <h1 class="text-center">@Html.DisplayFor(model => model.Title) <small>@Html.DisplayFor(model => model.PostCreator.Name)</small></h1>
    <p class="text-center well"> @Html.DisplayFor(model => model.BodyText)</p>
</div>
@*https://cmatskas.com/update-an-mvc-partial-view-with-ajax/*@
@*http://www.c-sharpcorner.com/UploadFile/3d39b4/rendering-a-partial-view-and-json-data-using-ajax-in-Asp-Net/*@
@*http://www.binaryintellect.net/articles/218ca630-ba50-48fe-af6e-6f754b5894aa.aspx*@
